body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

#app {
    text-align: center;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#optimizeButton {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

pre {
    text-align: left;
    background: #e0e0e0;
    padding: 10px;
    border-radius: 8px;
    margin-top: 20px;
}

.data {
    border-radius: 7%;
    width: 280px;
    margin-right: 50px;
    padding: 10px;
    background-color: #fff;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.data input {
    height: 50px;
    margin-bottom: 15px;
    width: 88%;
    background-color: #e0e0e0;
    border-radius: 8px;
    border: none;
    padding: 2px;
}